{% extends "base.html" %}

{% block content %}

<div class="posts">
    <div class="post-description">
        <!--分栏显示部分-->
        <p>
            <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
	        <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
	        <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <style type="text/css">
                #accordion .panel{
                    border: none;
                    border-radius: 0;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
                    margin: 0 0 12px 50px;
                    position: relative;
                }
                #accordion .panel:before{
                    content: "";
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(to bottom, #688e26 0%,#ff816a 100%);
                    position: absolute;
                    top: 0;
                    left: -2px;
                }
                #accordion .panel-heading{
                    padding: 0;
                    background: #fff;
                    position: relative;
                }
                #accordion .panel-heading:before{
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 50px;
                    background: #fff;
                    border: 1px solid #550527;
                    position: absolute;
                    top: 50%;
                    left: -48px;
                    transform: translateY(-50%);
                }
                #accordion .panel-title a{
                    display: block;
                    padding: 15px 55px 15px 30px;
                    font-size: 20px;
                    font-weight: 600;
                    color: #550527;
                    border: none;
                    margin: 0;
                    position: relative;
                }
                #accordion .panel-title a:before,
                #accordion .panel-title a.collapsed:before{
                    content: "\f068";
                    font-family: fontawesome;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 50%;
                    font-size: 15px;
                    font-weight: normal;
                    color: #688e26;
                    text-align: center;
                    border: 1px solid #688e26;
                    position: absolute;
                    top: 50%;
                    right: 25px;
                    transform: translateY(-50%);
                    transition: all 0.5s ease 0s;
                }
                #accordion .panel-title a.collapsed:before{ content: "\f067"; }
                #accordion .panel-body{
                    padding: 0 30px 15px;
                    border: none;
                    font-size: 14px;
                    color: #305275;
                    line-height: 28px;
                }
            </style>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Brief Introduction
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                南方某大学信息工程专业2016级学生 
                            </p>
                            <p>
                                不想当厨师的摄影爱好者不是个好程序员 <(￣ˇ￣)/
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Github
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
                                <a target="_blank" href="http://github.com/hu-tianyi/">http://github.com/hu-tianyi/</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Email
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                                <a href="mailto:asktianyi@outlook.com">asktianyi@outlook.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </p>

        <p>        
            <style type="text/css">
                .progress-title{
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                    margin: 0 0 20px;
                }
                .progress{
                    height: 3px;
                    background: #8e44ad;
                    border-radius: 0;
                    margin-bottom: 30px;
                    overflow: visible;
                    box-shadow: none;
                    position: relative;
                }
                .progress .progress-bar{
                    height:8px;
                    position: relative;
                    top: -3px;
                    box-shadow: none;
                    animation: animate-positive 2s;
                }
                .progress .progress-value{
                    display: block;
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                    position: absolute;
                    top: -30px;
                    right: 5px;
                }
                .progress.pink{
                    background: #d01d4c;
                }
                .progress.green{
                    background: #248075;
                }
                .progress.yellow{
                    background: #faa916;
                }
                @-webkit-keyframes animate-positive{
                    0% { width: 0%; }
                }
                @keyframes animate-positive{
                    0% { width: 0%; }
                }
            </style>    
            
            <div class="post-title">
                <p></p>
                <p>
                    Learning Areas
                </p>
            </div>

            <h3 class="progress-title">Python</h3>
            <div class="progress pink">
                <div class="progress-bar" style="width:100%; background:#d01d4c;">
                    <div class="progress-value">100%</div>
                </div>
            </div>

            <h3 class="progress-title">Django</h3>
            <div class="progress green">
                <div class="progress-bar" style="width:88%; background:#248075;">
                    <div class="progress-value">88%</div>
                </div>
            </div>

            <h3 class="progress-title">Algorithms</h3>
            <div class="progress yellow">
                <div class="progress-bar" style="width:76%; background:#faa916;">
                    <div class="progress-value">76%</div>
                </div>
            </div>

            <h3 class="progress-title">Machine Learning</h3>
            <div class="progress blue">
                <div class="progress-bar" style="width:64%; background:#8e44ad;">
                    <div class="progress-value">64%</div>
                </div>
            </div>
            <div class="post-meta">
                学无止境，进度条无实际意义
            </div>
        </p>
    </div>
</div>

{% endblock %}
