<!--post.html-->
{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <section class="content">
        <h1 class="content-subhead">
            
        </h1>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-meta">
                    Publish Date：<a class="btn btn-xs btn-info"> {{ post.date_time | date:'Y/m/d' }}</a>&nbsp&nbsp
                    Page Views: <a class="btn btn-xs btn-info">{{ post.page_views}}</a>&nbsp&nbsp
                    Category：<a class="btn btn-xs btn-info">{{ post.category }}</a>&nbsp&nbsp
                    Tag: <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.tag %}">{{ post.tag }}</a> 
                </p>
        </header>

        <div class="post-description">
            <p>
                {{ post.content|custom_markdown }}
            </p>
        </div>
    </section>
        {% include "comment.html" %}
</div><!-- /.blog-post -->
{% endblock %}