{% extends "base.html" %}

{% block pagetitle %}
  {% for post in post_list %}

  {% endfor %}
{% endblock %}

{% block content %}
  <div class="blog-post">
    {% for post in post_list %}
      <h2 class="blog-post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>
        <p class="blog-post-meta">
          Publish Date：<a class="btn btn-xs btn-info"> {{ post.date_time | date:'Y/m/d' }}</a>&nbsp&nbsp
          Page Views: <a class="btn btn-xs btn-info">{{ post.page_views}}</a>&nbsp&nbsp
          Category：<a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}">{{ post.category }}</a>
          {% for tag in post.tag.all %}
            <a class="btn btn-xs btn-info" href="">{{ tag }}</a></p>
          {% endfor %}
        </p>
        <br />
    {% endfor %}
  </div><!-- /.blog-post -->
{% endblock %}